{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/style_acc_page.css">
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div class="cont">
    <h1>Привет, это твой личный помощник</h1>

    <p>Давай введем тебя в курс дела. Я - твой личный помощник. Здесь ты можешь задавать любые вопросы, которые тебя
        интересуют, а я помогу тебе с решением проблем,
        что так некстати нависли над тобой.
    </p>

    <a href="/work">Приступить к работе &#x2192;</a>
</div>
{% endblock %}