<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Space</title>
    <link rel="stylesheet" href="/static/style_work_page.css">
</head>

<body>
    <div class="cont">
        <div class="main">
            <p id="response"></p>
            <form method="get" id="form"> <!-- TODO: переписать id формы -->
                <h2>укепавука</h2>
                <div class="cont-workspase">
                    <div class="text-area">
                        <textarea name="enter_text" id="e_t" autofocus="true">Введите что-нибудь...</textarea>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="s_b">&uarr;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/work.js"></script>
</body>

</html>